.searchResultsTable > tbody > tr > td > img {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

.searchResultsTable > tbody > tr > td {
     vertical-align: middle;
}

.searchResultsTable {
  width: 98%;
  margin: auto;
}