.searchTable {
  width:98%;
  margin: auto;
}

.borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
    //border: none;
}

.searchTable > tbody > tr > td:nth-child(1) {
  width: 70%;
  vertical-align:top;
}

.searchTable > tbody > tr > td:nth-child(2) {
  width: 20%;
  vertical-align:top;
}

.searchTable > tbody > tr > td:nth-child(3) {
  width: 10%;
  vertical-align:top;
}

.addressTextField,
.categoryTextField {
  width:100%;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.addressTextField:focus,
.addressTextField.focus,
.categoryTextField:focus,
.categoryTextField.focus {
  border-bottom: solid 2px #969696;
}

.addressSuggestionList {
  position:absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.addressSuggestionListItem {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.addressSuggestionListItemActive {
  font-size: 30px;
  background: #f6f6f6;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
